

<ion-view view-title="">

  <ion-header-bar class="bar-dark">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content><br><br>
  <div class="list" >
    <center>
    <label class="item item-input" id="input">
      <input type="text" placeholder="Username" >
    </label><br>
    <label class="item item-input" id="input">
      <input type="password" placeholder="Password">
    </label><br><br>
    <a id="botao" ng-click="logar()"><button class="button button-block button-dark" id="input">
      LOGIN
    </button></a>
  </center>
  </div>
  </ion-content>

</ion-view>
