<ion-view>
  <ion-pane>
    <ion-header-bar class="bar-dark">
      <a ng-click="desabafar()"><button class="button icon-left ion-speakerphone">DESABAFAR</button></a>
        <h1 class="title">Página Inicial</h1>
    </ion-header-bar>
      <div class="bar bar-subheader">
          <h2 class="title">Recentes</h2>
          </div><br><br><br><br>
          <div>
          <ion-list>
        <ion-item ng-repeat="recente in desabafos">
        <ion-option-button ng-click="selecionar(recente)">
        <a>{{recente.nome}}</a> Reclamou:<br>
        <b>Título: </b>{{recente.titulo}}
        </ion-option-button>
      </ion-item>
    </ion-list>
    </div>
  </ion-pane>
</ion-view>
