</ion-view>
<ion-pane>
      <ion-header-bar class="bar-dark">
      <a ng-click="paginaInicial()"><button class="button icon-left ion-home">HOME</button></a>
        <h1 class="title">Desabafo</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list list-inset">
          <label class="item item-input">
            <textarea id="texto" placeholder="Xingue à vontade"></textarea>
          </label>
          <a ng-click="paginaInicial()" id="botao"><button class="button button-block button-dark">
            POSTAR
          </button></a>
        </div>
      </ion-content>
    </ion-pane>
  </ion-view>